html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
div{
    margin: 0;
}
div#main-wrapper{
    width: 100%;
    height: 100%;
}
div#your-files {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
div.your-files1 {
    border: 1px solid blue !important;
}